*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
   
}
.banner{
   background: rgba(229, 84, 115, 0.10); 
   display: flex;
    gap: 70px;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
  
}

.banner-title{
    font-size:55px;
    color: #272727;
    padding-bottom: 32px;
}
.banner-description{
   padding-bottom: 20px;
   width: 600px;
}
.banner-text{
    margin: 120px;
    padding-left: 60px;

}
.btn{
    padding: 10px 18px;
    font-size: 17px;
    border-radius: 8px;
    background: #E55473;
}
.banner-img{
    margin-right: 150px;
    padding-top: 36px;
   
}
.flower{
    width: 480px;
    height: 600px;
}
 /* main section start  */
/* Feature section start here */
.feature-tree{
    color: #272727;
    text-align: center;
    margin: 80px;

}
.feature-heading{
    font-size:50px;
   text-align: center;
   padding-top: 100px;
}
.feature-descption{
    font-size: 18px;
    width: 50%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 20px;
}
/* Flowers collection */
.flower-tree{
    background: rgba(167, 33, 98, 0.15);
    border-radius: 170px 170px 0px 0px;
    width: 320px;
    height: 440px;
    padding-left: 25px; 
}
.flower-tree p{
    padding-left: 100px;
    padding-top: 30px;
    font-size: 17px;
}
.tree{
   
    width: 300px;
    height: 300px;
    padding-top: 140px;
}
.flowers{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    padding: 110px;

}
 /* group section start here */
.group-container{
    display: flex;
    justify-content: space-around;
    background-color: #2727270d;
    color: rgba(39, 39, 39, 0.8);
    width: 75%;
    margin: auto;
    padding: 20px;
    text-align: center;

}
  /* Production section starts */
.products{
    padding: 40px 0px;
  }
.heading{
    font-size: 55px;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 60px;

}
  .primary{
    color:  rgb(241, 17, 65);
  }
.box-img{
    width: 300px;
    height: 300px;
    background-color: #ffd45e;
    box-shadow: 7px 6px 4px rgba(255, 212, 94,0.8);
}
.box{
    
    gap: 40px;
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    background-color: #2727270d;

  }
.content{
    text-align: center;
    font-size: 18px;
  }

  /* Deal section starts */
.deal-title{
    font-size: 35px;

}
.deal-description{
    width: 600px;
    padding: 20px;
  }
.deal-text{
    padding-left: 40px;
    text-align: center;
    justify-content: center;
  }
  .hot-deal{
    display: flex;
    gap: 40px;
    background: rgba(229, 84, 115, 0.05);
    justify-content: space-around;
    padding: 80px;
    align-items: center;
    margin: 150px  0px;
  }
  .pot-img{
    width: 300px;
    height: 340px;
  }
 /* INSTAGRAM Starts */
 .name-title{
    font-size: 38px;
 }
 #description{
    color: #272727;
    padding: 15px;
 }
.instagram-text{
    text-align: center;
    justify-content: center;
    margin: 80px;
 }
 .cover{
    width: 240px;
    height: 280px;
 }
 .instagram-img{
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin: auto;
 }
 .instagram{
    margin: 80px 0px;
 }
  /* Contact section starts */
 .contact-box{
    background-image: url(./img/Rectangle\ 9.png);
    background-repeat: no-repeat;
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 170px 0px;

}
  
.contact-box input[type=search] {
    padding: 15px 118px;
    border-radius: 8px;
    background: #FFF;
    margin: 40px;
    border: none;
 }
    
/* Footer section starts */
   .footer-heading{
    font-size: 38px;
    color: white;
   }
   .foot-title{
    color: #E55473;

   }
   .footer-description{
    text-align: center;
    justify-content: center;
    color:rgb(255,255,255,0.80);
    padding: 28px 0px;
   }
   
   .footer-section{
    background-color: black;
    padding: 110px;
    text-align: center;
    justify-content: center;
   }
.copy-right{
  color: rgba(255, 255, 255,0.40);
  text-align: center;
  justify-content: center;
}




